.reviews {
	padding-top: 30px;
	padding-bottom: 60px;
}

.reviews__wrapper {
	@include container();
	min-height: 190px;
}

.reviews__title {
	margin: 0;
	margin-bottom: 28px;
	min-height: 40px;
}

.reviews__item {
	margin: 0 20px;
	min-height: 140px;
	background-color: palegreen;
}

.reviews__item:nth-child(n+2) {
	display: none;
}

.reviews__text {
	margin: 0;
}

@media #{$tablet-width} {
	.reviews {
		padding-top: 40px;
		padding-bottom: 70px;
	}
	.reviews__wrapper {
		min-height: 235px;
	}
	.reviews__title {
		margin-right: 200px;
		margin-bottom: 42px;
		background-color: fuchsia;
	}
	.reviews__item {
		margin: 0;
	}
}

@media #{$desktop-width} {
	.reviews {
		padding-top: 44px;
		padding-bottom: 90px;
	}
}
