.social-links {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.social-links__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	height: 101px;
	font-size: 0;
	border: 1px solid rgb(63, 63, 63);
}

.social-links__item {}
